@page
@model BurgerRazorPage.Pages.ThankYou.ThankYouModel
@{
}


<h1 class="text-center mt-3">Thank you for ordering with us at BurgerHeaven!</h1>

<img class="background-image2" src="~/images/bg-image-ty.png" />