@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-white mb-4"> Welcome to BurgerHeaven</h1>
    <img class="background-image" src="~/images/MainPhoto.png" />
</div>

<div class="mainText">
    <h2 class="">Here at BurgerHeaven you can taste the only truly rich taste of our juicy burgers! </h2>
</div>

<div class="text-center">
    <a class=" main-page-button btn "  asp-area="" asp-page="CreateBurger">Go to Order Page</a>
</div>
