@page
@model BurgerRazorPage.Pages.OrdersModel
@{
}


<h3>Orders</h3>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                BurgerName
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach(var order in Model.BurgerOrders)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.BurgerName
                </td>
                
                <td>
                    @order.BasePrice $
                </td>
            </tr>
        }

       
    </tbody>

</table>